aside {
  position: fixed;
  top: 0;
  right: 0;

  display: flex;
  justify-content: flex-end;
}

aside select {
  height: 2rem
}
aside ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
aside li {
  padding: 0;
  margin: 0;
}

aside button {
  border: none;
  background: none;
  width: 4rem;
  height: 4rem;

  box-shadow: 0 .1rem .25rem #bbe;
  border: 1px solid white;
  border-radius: .5rem;
  margin-bottom: .25rem;
  padding: 1rem;

  background: linear-gradient(135deg, #ddf,#37e);
}

aside button>svg {
  fill: white;
}


aside.closed {
  width: 3rem;
  height: 3rem;
  overflow: hidden;
}
aside.closed button {
  width: 3rem;
  height: 3rem;
  padding: .5rem;
}

aside select {
	background: linear-gradient(135deg, #ddf,#37e);
	color: white;
	border-style: none;
	height: 4rem;
	padding: .25rem;
	margin-right: .5rem;
	border-radius: .5rem;
	text-shadow: 0 0 .25rem #37e;
}
